beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.7
docopt==0.6.2
feedparser==5.2.1
gitsome==0.7.2
idna==2.5
inflect==0.2.5
jaraco.itertools==2.0.1
more-itertools==3.1.0
numpydoc==0.6.0
ply==3.10
prompt-toolkit==1.0.14
PyAudio==0.2.11
Pygments==2.2.0
pytz==2016.10
requests==2.17.3
six==1.10.0
SpeechRecognition==3.6.5
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.21.1
wcwidth==0.1.7
wikipedia==1.4.0
wolframalpha==3.0
wxPython==4.0.0a3
xmltodict==0.11.0
